<!DOCTYPE html>
<html>
    <head>


    </head>
    <body>
        <table align="center" border="1" width="400">
            <tr>
                <td colspan="3" align="center">Welcome To Healthy Restaruant!</td>
            </tr>
            <tr>
                <td align="center">Seafood Hor-Fun</td>
                <td align="center"><img src="seafood hor-fun.jpg" width="140"><br>$8.50</td>
            </tr>
            <tr>
                <td align="center">Mushroom Pizza</td>
                <td align="center"><img src="mushroom pizza.jpg" width="140"><br>$6.80</td>
            </tr>
            <tr>
                <td align="center">Wonton Noodles</td>
                <td align="center"><img src="wonton-noodle.jpg" width="140"><br>$5.50</td>
            </tr>
        </table>
    </body>
</html>
